<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<nav>

      <h1>The Haversack App</h1>

      <div>
        <h2>Welcome to your Haversack!</h2>

        <p>If you're new around here, please <b>
          <a href="/signup">sign up</a></b>
          to start storing your items.</p>

        <p>If you're a regular, please <b>
        <a href="/login">log in</a></b>
         to view your bag.</p>

</nav>
</body>

<footer>

<p>
  <a href="https://github.com/wonderfulkasey/haversack" class="social-link" target="_blank">
      Github Repo
    </a>
</p>

<p>
    <a href="PUT BLOG LINK HERE" class="social-link" target="_blank">
      Blog Post
    </a>
</p>

<p>
    <a href="PUT YOUTUBE DEMO HERE" target="_blank">
      Video Demo
    </a>
  </p>

</footer>

</html>
