<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Haversack</title>


    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<nav>

      <h1>The Haversack</h1>

      <div>
        <h4>Welcome to the Haversack App!</h4>

        <p>If you're a new user, please <b><a href="/signup">sign up</a></b> to start storing your items.</p>

        <p>If you're a returning user, please <b><a href="/login">log in</a></b> to view your bag.</p>

</nav>
</body>

<footer>

  <a href="https://github.com/wonderfulkasey/haversack" class="social-link" target="_blank">
      Github Repo
    </a>

    <a href="PUT BLOG LINK HERE" class="social-link" target="_blank">
      Blog Post
    </a>

    <a href="PUT YOUTUBE DEMO HERE" class="social-link" target="_blank">
      Video Demo
    </a>

</footer>

</html>
